<h2>
    List of Products
  </h2>
  
  <ul class="list-group">
    <li class="list-group-item" *ngFor = "let prd of products">{{'Product number ' + prd.id + ':'}}
      <ul>
        <li>{{'ID: ' + prd.id}}</li>
        <li>{{'Name: ' + prd.name}}</li>
        <li>{{'price: ' + prd.price}}</li>
      </ul> 
    </li>
  </ul>