<div class=center>
  <h3>Search</h3>
<form [formGroup] = "searchform" ng-submit="sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name = "name" id = "name" formControlName = "name" class = "form-control" >
  </div>
  <br>
    <button class="btn btn-primary"  value = "Search Product" [routerLink] = "['/search-result']">Search</button>
</form>
</div>

<h2>
  List of Products:
</h2>

<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of productsKeys">
    <button class="btn btn-info" [routerLink] = "['/edit-product', key]">Update</button>
        <a [routerLink] = "['/products', key]">{{'product number '+key+' '+products[key].name+' '+products[key].price}}</a>
  </li>
</ul>

