<h1>Update User</h1>

<form [formGroup] = "prdform" (ngSubmit) = "sendData()">
  
  <div>
    <label for="name">Name</label>
    <!--input  value="{{user?.name}}" type="text" name = "name" id = "name" class = "form-control" formControlName = "name" required-->    
   <input type="text" name = "name" id = "name" class = "form-control" formControlName = "name" value="{{name}}" [(ngModel)]="name" required>    

  </div>
    
  <div>
	  <label for="price">price</label>
	  <!--input type="text" name="phone" id="phone" class = "form-control" formControlName = "phone" value="{{user?.phone}}" required-->	  
    <input type="text" name="price" id="price" class = "form-control" formControlName = "price" value="{{price}}" [(ngModel)]="price" required>
  </div>
  <input type="text" name="id" id="id" class="hidden" value="{{product?.id}}">
  <input type="submit" value = "Save" class = "btn btn-primary">
</form>  